@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --font-Poppins: "Poppins", sans-serif;

}

body {
  font-family: var(--font-Poppins);
  font-weight: 200;
  font-style: normal;
}

@layer components {
  .card {
    @apply bg-white text-black text-sm font-light
          w-58 min-h-[20rem]
          shadow-2xl rounded-xl overflow-hidden;
  }
  .btn {
    @apply flex items-center gap-2 bg-red-500 text-white text-sm  px-1.5 py-1 rounded hover:bg-red-600  transform-3d cursor-pointer transition transform active:scale-110;
  }
  .btn2{
   @apply  bg-red-500 text-white  p-2 rounded-2xl hover:bg-red-600  cursor-pointer transition transform active:scale-110;
  }
  .btn3{
    @apply px-2 bg-gray-800 text-sm flex items-center gap-1 text-white  rounded hover:bg-gray-900  cursor-pointer transition transform active:scale-110;
  }

  .cartcard{
    @apply  bg-white text-black
          w-100  object-cover font-light
        shadow-2xl rounded-sm overflow-hidden;
  }
  .priceCard{
    @apply bg-white font-light text-black
          w-70 h-65 object-cover 
          shadow-2xl rounded-xs overflow-hidden;
  }
  .btn4{
    @apply bg-gray-800 text-white text-center px-1.5 rounded-4xl hover:bg-gray-900  cursor-pointer transition transform active:scale-110;
  }
  .pricedetails{
  @apply flex justify-between p-2 text-sm text-black
  }
  .text{
    @apply font-light text-black text-sm
  }
  
}
